@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --clr-primary-cyan: hsl(180, 66%, 60%);
    --clr-primary-purple: hsl(257, 27%, 26%);
    --clr-secondary-red: hsl(0, 87%, 67%);

    --clr-neutral-gray: hsl(0, 0%, 75%);
    --clr-neutral-off-gray: hsl(225, 33%, 95%);
    --clr-netural-grayish-purple: hsl(270, 14%, 23%);
    --clr-neutral-dark-blue: hsl(255, 11%, 22%);
    --clr-neutral-dark-purple: hsl(260, 8%, 14%);

    --font-size-300: .875rem;
    --font-size-400: 1.125rem;
    --font-size-500: 1.5rem;
    --font-size-600: 1.75rem;
    --font-size-700: 2rem;
    --font-size-800: 2.75rem;
    --font-size-900: 4rem;

    --font-family: 'Poppins', sans-serif;

    --font-weight-500: 500;
    --font-weight-700: 700;

}